<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datos personales</title>
  <style>
    body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9a84fc;
  color: #000000;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-display: arial ;
}

main {
  margin: 0 auto;
  width: 500px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: center;
}

p {
  margin-bottom: 10px;
}


  </style>
</head>
<body>
  <header>
    <h1>Datos personales</h1>
  </header>
  <main>
    <section>
      <h2>Nombre:</h2>
      <p>Siry</p>
    </section>
    <section>
      <h2>Apellido:</h2>
      <p>Pacheco</p>
    </section>
    <section>
      <h2>Cédula:</h2>
      <p>31.023.371</p>
    </section>
    <section>
      <h2>Sección: 1</h2>
    </section>
  </main>
</body>
</html>
